In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('adult.data.csv')

In [3]:
items = df['race'].unique()
items

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [4]:
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [5]:
race_count = []
for item in items:
    mask = (df['race'] == item)
    race_count.append(df[mask]['race'].count())
race_count

[27816, 3124, 1039, 311, 271]

In [7]:
mask = (df['sex'] == 'Male')
average_age_men = df[mask]['age'].mean()
average_age_men

39.43354749885268

In [8]:
df['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [9]:
mask = (df['education'] == 'Bachelors')
percentage_bachelors = ((df[mask]['education'].count()*100)/df.shape[0])
percentage_bachelors

16.446055096587944

In [10]:
mask1 = ((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate'))
k = df[mask1]['salary'].count()
k

7491

In [11]:
mask = ((mask1) & (df['salary'] == '>50K'))
m = df[mask]['education'].count()
m

3486

In [12]:
higher_education_rich = (m*100)/k
higher_education_rich

46.535843011613935

In [13]:
mask3 = ~mask1
n = df[mask3]['education'].count()
n

25070

In [14]:
mask = (mask3 & (df['salary'] == '>50K'))
m = df[mask]['education'].count()
m

4355

In [15]:
lower_education_rich = (m*100)/n
lower_education_rich

17.3713601914639

In [16]:
min_work_hours = min(df['hours-per-week'])
min_work_hours

1

In [17]:
mask = (df['hours-per-week'] == min_work_hours)
l = df[mask]['hours-per-week'].count()
l

20

In [18]:
mask = (mask & (df['salary'] == '>50K'))
o = df[mask]['hours-per-week'].count()
o

2

In [19]:
rich_percentage = (o*100)/l
rich_percentage

10.0

In [75]:
mask5 = df['native-country'].isin(items)
df[mask5]['native-country'].value_counts()

United-States         29170
Mexico                  643
?                       583
Philippines             198
Germany                 137
Canada                  121
Puerto-Rico             114
El-Salvador             106
India                   100
Cuba                     95
England                  90
Jamaica                  81
South                    80
China                    75
Italy                    73
Dominican-Republic       70
Vietnam                  67
Guatemala                64
Japan                    62
Poland                   60
Columbia                 59
Taiwan                   51
Haiti                    44
Iran                     43
Portugal                 37
Nicaragua                34
Peru                     31
France                   29
Greece                   29
Ecuador                  28
Ireland                  24
Hong                     20
Trinadad&Tobago          19
Cambodia                 19
Laos                     18
Thailand                 18
Yugoslavia               16
Honduras                 13
Hungary                  13
Scotland                 12
Name: native-country, dtype: int64

In [94]:
mask6 = (df['salary'] == '>50K')
max_find = df[mask6]['native-country'].value_counts()
max_find

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Cuba                    25
Italy                   25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Poland                  12
Puerto-Rico             12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Yugoslavia               6
Hong                     6
Vietnam                  5
Ireland                  5
Ecuador                  4
Haiti                    4
Portugal                 4
Hungary                  3
Guatemala                3
Scotland                 3
Thailand                 3
Peru                     2
Trinadad&Tobago          2
Nicaragua                2
Dominican-Republic       2
Laos                     2
Columbia                 2
Honduras                 1
Name: native-country, dtype: int64

In [77]:
items = df[mask6]['native-country'].unique()
items

array(['United-States', 'India', '?', 'South', 'Honduras', 'Canada',
       'Iran', 'Mexico', 'Cambodia', 'Thailand', 'Taiwan', 'Portugal',
       'England', 'China', 'Philippines', 'Jamaica', 'Germany', 'Japan',
       'Italy', 'Dominican-Republic', 'Cuba', 'Greece', 'Peru',
       'Guatemala', 'El-Salvador', 'France', 'Vietnam', 'Poland',
       'Puerto-Rico', 'Ireland', 'Yugoslavia', 'Columbia', 'Haiti',
       'Hong', 'Ecuador', 'Nicaragua', 'Trinadad&Tobago', 'Hungary',
       'Scotland', 'Laos'], dtype=object)

In [96]:
max_find2 = max_find*100/df[mask5]['native-country'].value_counts()

?                     25.042882
Cambodia              36.842105
Canada                32.231405
China                 26.666667
Columbia               3.389831
Cuba                  26.315789
Dominican-Republic     2.857143
Ecuador               14.285714
El-Salvador            8.490566
England               33.333333
France                41.379310
Germany               32.116788
Greece                27.586207
Guatemala              4.687500
Haiti                  9.090909
Honduras               7.692308
Hong                  30.000000
Hungary               23.076923
India                 40.000000
Iran                  41.860465
Ireland               20.833333
Italy                 34.246575
Jamaica               12.345679
Japan                 38.709677
Laos                  11.111111
Mexico                 5.132193
Nicaragua              5.882353
Peru                   6.451613
Philippines           30.808081
Poland                20.000000
Portugal              10.810811
Puerto-Rico           10.526316
Scotland              25.000000
South                 20.000000
Taiwan                39.215686
Thailand              16.666667
Trinadad&Tobago       10.526316
United-States         24.583476
Vietnam                7.462687
Yugoslavia            37.500000
Name: native-country, dtype: float64

In [107]:
highest_earning_country = max_find2.idxmax()
highest_earning_country

'Iran'

In [108]:
max(max_find2)

41.86046511627907

In [121]:
mask = (df['salary'] == '>50K') & (df['native-country'] == 'India')
df[mask]['occupation'].value_counts().idxmax()

'Prof-specialty'